<!-- If there are EJS tags inside a comment, they'll be parsed by the EJS engine, and so, we've to be clever about NOT including EJS tags
     in comments inside EJS templates -->
<% if (false) { %>
  To include the head (which is a common block of HTML code), we can use the '<%- include('./includes/end.ejs') %>' where '<%- %>' is the EJS 
  Output Escape Tag, which can be used to escape and render HTML code. If we use the '<%= %>' EJS Output Value Tag to include the head template
  then, the template will NOT be parsed as HTML, and it will be parsed as a plain string, which can also lead to XSS attack.
<% } %>
<%- include('./includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/navigation.ejs') %>
  <h1>Page Not Found!</h1>
<%- include('./includes/end.ejs') %>
